<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barqsoft.footballscores" >

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.ScoresWidgetProvider"
            android:label="@string/title_widget_scores" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="barqsoft.footballscores.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/scores_appwidget_info" />
        </receiver>

        <provider
            android:name=".ScoresProvider"
            android:authorities="barqsoft.footballscores" />

        <receiver
            android:name=".widget.DetailWidgetProvider"
            android:label="@string/title_widget_detail"
            android:enabled="@bool/widget_detail_enabled" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.android.sunshine.app.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_detail" />
        </receiver>

       <service
            android:name=".widget.DetailWidgetRemoteViewsService"
            android:enabled="@bool/widget_detail_enabled"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="barqsoft.footballscores.MainActivity" />
        </activity>

        <activity
            android:name=".LicensesActivity"
            android:label="@string/title_licenses"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="barqsoft.footballscores.MainActivity" />
        </activity>

        <service android:name=".service.myFetchService" />
        <service android:name=".widget.ScoresWidgetIntentService" />
        <activity
            android:name=".DetailWidgetActivity"
            android:label="@string/title_activity_detail_widget" >
        </activity>
    </application>

</manifest>
